<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Google 로그인 -->
    <key>GIDClientID</key>
    <string>751851569327-3vepq0vighg5j2g42d48ro9vph8rj1je.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.751851569327-3vepq0vighg5j2g42d48ro9vph8rj1je</string>
                <string>kakaoYOUR_KAKAO_APP_KEY</string>
            </array>
        </dict>
    </array>

    <!-- 카카오 로그인 -->
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>kakaokompassauth</string>
        <string>kakaolink</string>
    </array>
</dict>
</plist>
